.promo{//Baner con imagen full width de las paginas de categoria
    padding: 0;
    color: white;
    margin-bottom: 50PX;
    .promo-content{
        margin: 0;
        max-height: 640px;
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 0;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.archive, .all-post{//Espaciado de los articulos en category y page con el contenido del post
    .article{
        margin-bottom: 10px;
        @include MQ(MXL){
            min-height: 380px !important;
        }
    }
}
.top-media-outlet-section{//Pagina media outlets
    .top-media-outlet-container{
        margin-bottom: 50px;
        .top-media-outlet-info{
            .top-media-outlet-txt{// Texto introductorio de media outlets
                padding: 25px 0 25px 0;
            }
            ul{//Cintenedor de imagenes de logos con la participacion en medios
                li{
                    height: 80px;
                    padding: 10px;
                    img{
                    }
                }
            }
        }
    }
}
