.brand{
    background: $white;
    img{max-width: 100%;}
}
.navbar{
    font-family: $font-2;
    background: $white;
    border: 0;
    margin: 0;
    .container{
        .navbar-header{
            .navbar-toggle{
                width: 100%;
                margin: 0 auto;
                /*&:after{
                    content: 'Menu';
                }*/
                .icon-bar{
                    margin: 0 auto;
                    max-height: 4px;
                    margin-bottom: 4px;
                }
            }
        }
        .navbar-nav{
            width: 100%;
            text-align: center;
            li{
                cursor: pointer;
                @include MQ(LXL){
                    width: 20%;
                }
                a{
                    font-size: 18px;
                }
            }
            .dropdown-menu{
                li{width: 100%;}
            }
        }
    }
}
