@font-face {
  font-family: 'raleway-light';
  src: url("../fonts/raleway-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/raleway-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light-webfont.woff2") format("woff2"), url("../fonts/raleway-light-webfont.woff") format("woff"), url("../fonts/raleway-light-webfont.ttf") format("truetype"), url("../fonts/raleway-light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'sans-serif'; }

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url(../img/ripple.svg) no-repeat center center; }

.js div#preloader no-svg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url(../img/ripple.gif) no-repeat center center; }

#svg-wrapper {
  height: 100vh; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1002; }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: -10;
  transform: translateX(0); }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  transition: all 0.5s 0.5s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 2s ease-out; }

.white {
  background: white; }

.pantalla {
  background: black;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 9999999999; }

.retire {
  background: none !important; }

.initial svg {
  position: relative;
  top: 15%;
  height: 60%; }

.resize {
  position: relative;
  top: -15%;
  height: 125%;
  transition: all 0.5s; }

svg {
  width: 100%;
  height: 100%; }

.brand {
  background: white; }
  .brand img {
    max-width: 100%; }

.navbar {
  font-family: "raleway-light", sans-serif;
  background: white;
  border: 0;
  margin: 0; }
  .navbar .container .navbar-header .navbar-toggle {
    width: 100%;
    margin: 0 auto;
    /*&:after{
                    content: 'Menu';
                }*/ }
    .navbar .container .navbar-header .navbar-toggle .icon-bar {
      margin: 0 auto;
      max-height: 4px;
      margin-bottom: 4px; }
  .navbar .container .navbar-nav {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .navbar .container .navbar-nav {
        width: 100%; } }
    .navbar .container .navbar-nav li {
      cursor: pointer; }
      @media only screen and (min-width: 769px) {
        .navbar .container .navbar-nav li {
          width: 20%; } }
      .navbar .container .navbar-nav li a {
        font-size: 18px;
        text-transform: uppercase; }
    .navbar .container .navbar-nav .dropdown-menu li {
      width: 100%; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html, body {
  height: 100%;
  margin: 0; }

.wrapper {
  min-height: 75%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */ }

body {
  font-family: "sans-serif", sans-serif;
  color: #333333; }

body .category:before {
  display: none; }

h1, h2, h3, h4 {
  font-family: "raleway-light", sans-serif; }

h1 {
  text-transform: uppercase; }

a, ol li {
  font-size: 16px;
  line-height: 120%; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  box-sizing: border-box !important; }

a {
  text-decoration: none; }

.dn {
  display: none !important; }

.fl {
  float: left !important; }

.fr {
  float: right; }

.fn {
  float: none; }

.cb {
  clear: both; }

hr {
  margin: 15px;
  padding: 0; }

a:hover {
  text-decoration: none; }

.wrapp {
  /*@include linear-gradient(to top, #0066b0, #003356);
    background-image: url(../img/bk.png);
    background-size: contain;*/ }

.wrapper-pag {
  width: 100%;
  text-align: center; }

.footer {
  margin-top: 50px;
  margin-bottom: 50px; }

.hovereffect {
  background: #fff;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px; }
  @media only screen and (min-width: 1281px) {
    .hovereffect {
      height: 250px; } }
  @media only screen and (min-width: 769px) and (max-width: 1280px) {
    .hovereffect {
      height: 220px; } }
  @media handheld, only screen and (min-width: 481px) and (max-width: 768px) {
    .hovereffect {
      height: 300px; } }
  @media handheld, only screen and (max-width: 480px) {
    .hovereffect {
      height: 200px; } }
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(144, 107, 107, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .hovereffect img {
    position: relative;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
    height: auto;
    width: 110%; }
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(8, 1, 1, 0.8);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 10px; }
  .hovereffect .info {
    position: absolute;
    margin-top: 70px;
    z-index: 5;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 15px 35px 15px 35px;
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hovereffect .info:hover {
      box-shadow: 0 0 5px #fff; }
  .hovereffect .link {
    width: 100%;
    height: 100%;
    display: table; }
  .hovereffect:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  .hovereffect:hover .overlay {
    opacity: 1;
    -webkit-filter: alpha(opacity=100);
    filter: alpha(opacity=100); }
  .hovereffect:hover h2 {
    opacity: 1;
    -webkit-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .hovereffect:hover .info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1; }

.sidebar {
  padding-top: 35px; }
  .sidebar section {
    margin: 10px 0 10px 0;
    padding: 10px; }
    .sidebar section ul li {
      margin: 0 0 5px 0; }
    .sidebar section h4 {
      padding: 10px 5px 10px 8px;
      color: white;
      background: #d41f1f;
      margin: 0 0 10px 0; }
    .sidebar section a {
      color: #333333; }
      .sidebar section a:hover {
        color: #d41f1f; }

.static_carousel .carousel .carousel-inner .item {
  max-height: 70vh;
  overflow: hidden; }
  .static_carousel .carousel .carousel-inner .item .carousel-caption {
    top: 55%;
    width: 100%;
    left: 0; }
    .static_carousel .carousel .carousel-inner .item .carousel-caption h1 {
      background: rgba(0, 0, 0, 0.3);
      padding: 8px;
      border-left: 0;
      border-right: 0; }
  .static_carousel .carousel .carousel-inner .item img {
    width: 100%;
    height: 100%; }

.frases-slide {
  min-height: 340px; }
  @media handheld, only screen and (max-width: 480px) {
    .frases-slide {
      min-height: 200px; } }
  .frases-slide .slide {
    margin: 70px 0 0 0;
    min-height: 250px;
    display: block; }
    @media handheld, only screen and (max-width: 480px) {
      .frases-slide .slide {
        margin: 0;
        min-height: 100%; } }
    .frases-slide .slide h1, .frases-slide .slide h2, .frases-slide .slide h3, .frases-slide .slide h4, .frases-slide .slide h5 {
      text-transform: inherit;
      padding: 30px 0 0 0;
      margin: 0 auto;
      max-width: 75%;
      font-family: "sans-serif", sans-serif; }
      @media handheld, only screen and (max-width: 480px) {
        .frases-slide .slide h1, .frases-slide .slide h2, .frases-slide .slide h3, .frases-slide .slide h4, .frases-slide .slide h5 {
          font-size: 18px; } }
      @media handheld, only screen and (min-width: 481px) and (max-width: 768px) {
        .frases-slide .slide h1, .frases-slide .slide h2, .frases-slide .slide h3, .frases-slide .slide h4, .frases-slide .slide h5 {
          font-size: 20px; } }
    .frases-slide .slide p {
      margin: 20px 0 0 0; }
  .frases-slide .carousel-control {
    background: none; }

.frases-slide .carousel-control {
  color: #333; }

.promo {
  padding: 0;
  color: white;
  margin-bottom: 50PX; }
  .promo .promo-content {
    margin: 0;
    max-height: 640px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 0; }
    .promo .promo-content img {
      width: 100%;
      height: auto; }

.archive .article, .all-post .article {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .archive .article, .all-post .article {
      min-height: 380px !important; } }

.top-media-outlet-section .top-media-outlet-container {
  margin-bottom: 50px; }
  .top-media-outlet-section .top-media-outlet-container .top-media-outlet-info .top-media-outlet-txt {
    padding: 25px 0 25px 0; }
    .top-media-outlet-section .top-media-outlet-container .top-media-outlet-info .top-media-outlet-txt .ar-title {
      font-size: 28px; }
  .top-media-outlet-section .top-media-outlet-container .top-media-outlet-info ul li {
    height: 80px;
    padding: 10px; }

.todas-categorias-title {
  text-transform: uppercase;
  padding: 20px; }

.contacto #modalbox {
  border-radius: 0;
  opacity: 0.96; }

.contacto #social-media ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block; }
  .contacto #social-media ul li {
    display: inline-block;
    margin-right: 10px; }
    .contacto #social-media ul li a:hover {
      text-decoration: none; }
    .contacto #social-media ul li span {
      font-size: 25px;
      color: #333; }
      .contacto #social-media ul li span:hover {
        color: #333333; }

.contacto .btn-contacto {
  width: 100%;
  margin: 25px 0;
  border-radius: 0;
  font-size: 15px;
  font-weight: bold; }

.contacto h3 {
  letter-spacing: 5px;
  font-weight: bold; }

.wpcf7 {
  text-align: center;
  margin: 0 auto; }

.wpcf7 textarea,
.wpcf7 input {
  width: 80%;
  margin: 0 auto; }

.wpcf7 input[type=submit] {
  background: #d41f1f; }

.wpcf7 {
  margin: 0 auto;
  text-align: center;
  margin: 0 0 25px 0; }
  .wpcf7 input[type=submit] {
    margin: 10px;
    width: 200px;
    background: #d41f1f;
    border: none;
    height: 60px; }
    .wpcf7 input[type=submit]:hover {
      background: #333333;
      color: white; }
  .wpcf7 textarea,
  .wpcf7 input {
    max-width: 500px; }

#recaptcha {
  width: 304px;
  margin: 0 auto; }

#recaptcha_area, #recaptcha_table {
  margin: 0 auto !important; }

.all-post .yi-item-selector .postre-title {
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 5px 0 5px 10px;
  text-align: left;
  width: 100%;
  background: #d41f1f;
  /*
            &.travel-the-world {
                background: #FFD15D;
            }
            &.attract {
                background: #324A5E;
            }
            &.work-out {
                background: #90DFAA;
            }
            &.fomo-events {
                background: #E15050;
            }
            &.style {
                background: #324A5E;
            }
            */ }

.all-post .article:hover .category-attract,
.all-post .article:hover .category-fomo-events,
.all-post .article:hover .category-work-out,
.all-post .article:hover .category-style,
.all-post .article:hover .category-travel-the-world {
  opacity: 0; }

.all-post .category-attract,
.all-post .category-fomo-events,
.all-post .category-work-out,
.all-post .category-style,
.all-post .category-travel-the-world {
  width: 44px;
  height: 44px;
  top: -20px;
  right: -5px;
  position: absolute;
  z-index: 5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  @media handheld, only screen and (max-width: 768px) {
    .all-post .category-attract,
    .all-post .category-fomo-events,
    .all-post .category-work-out,
    .all-post .category-style,
    .all-post .category-travel-the-world {
      top: -5px;
      right: 10px; } }

.all-post .category-attract {
  background: url(../img/003-ar.png) no-repeat;
  background-size: contain; }

.all-post .category-fomo-events {
  background: url(../img/006-ar.png) no-repeat;
  background-size: contain; }

.all-post .category-work-out {
  background: url(../img/004-ar.png) no-repeat;
  background-size: contain; }

.all-post .category-style {
  background: url(../img/007-ar.png) no-repeat;
  background-size: contain; }

.all-post .category-travel-the-world {
  background: url(../img/005-ar.png) no-repeat;
  background-size: contain; }

#sidebar-article .sidebar-article-widget-area section {
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  border: 1px solid #333; }
  #sidebar-article .sidebar-article-widget-area section h4 {
    border-bottom: 1px solid #333;
    padding: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
    font-weight: 700; }
  #sidebar-article .sidebar-article-widget-area section a {
    color: #333; }
    #sidebar-article .sidebar-article-widget-area section a:hover {
      color: #d41f1f; }
  #sidebar-article .sidebar-article-widget-area section p, #sidebar-article .sidebar-article-widget-area section li {
    margin-bottom: 10px; }

section .sml_subscribe_widget .textwidget {
  margin-top: 10px; }
  section .sml_subscribe_widget .textwidget .sml_subscribe .sml_nameinput {
    width: 100%; }
  section .sml_subscribe_widget .textwidget .sml_subscribe .sml_emailinput {
    width: 100%; }
  section .sml_subscribe_widget .textwidget .sml_subscribe .sml_submitbtn {
    width: 100%;
    text-transform: capitalize; }
    section .sml_subscribe_widget .textwidget .sml_subscribe .sml_submitbtn:hover {
      background: #d41f1f;
      color: white; }
